{% extends "base.html" %}
{% load static %}
{% block 'title' %}Edit profile{% endblock 'title' %}
{% block 'content' %}

<section class="inner-page" id="contact-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>ویرایش اطلاعات شخصی</h1>
                            <p>اطلاعات کاربری خود را ویرایش نمایید</p>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="./index.html">صفحه نخست</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">ورود</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-2 py-md-5">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-5 text-center">
                            <img src="{% static 'assets/images/edit-profile.png' %}" alt="">
                        </div>
                        {% if profile.is_edited %}
                        <div class="col-12 col-lg-7 pt-5 pt-md-0 align-self-center">
                            <div class="title">ویرایش نمایید</div>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="نام"> نام :</label>
                                        <input type="text" name="first_name" class="form-control" value="{{ profile.first_name }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="نام خانوادگی"> نام خانوادگی :</label>
                                        <input type="text" name="last_name" class="form-control" value="{{ profile.last_name }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="شماره کارت"> شماره کارت :</label>
                                        <input type="text" name="card_number" class="form-control" value="{{ profile.card_number }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="تاریخ تولد"> تاریخ تولد :</label>
                                        <input type="date" name="birthday" class="form-control" value="{{ profile.birthday|date:'Y-m-d'|default:'' }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="تلفن ثابت"> تلفن ثابت  :</label>
                                        <input type="text" name="phone" class="form-control" value="{{ profile.phone }}">
                                    </div>
                                    <input type="hidden" name="mobile" class="form-control" value="{{ profile.mobile }}">
                                    <input type="hidden" name="id_code" class="form-control" value="{{ profile.id_code }}">
                                    <input type="hidden" id="isEdited" name="is_edited" value="true">
                                    <div class="form-group">
                                        <input type="submit" value=" ویرایش مشخصات کاربری" class="btn btn-success">
                                    </div>     
                                </form>
                            </div>
                        </div>
                        {% else %}
                            <div class="col-12 col-lg-7 pt-5 pt-md-0 align-self-center">
                                <div class="title">ویرایش نمایید</div>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="نام"> نام :</label>
                                        <input type="text" name="first_name" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="نام خانوادگی"> نام خانوادگی :</label>
                                        <input type="text" name="last_name" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="کد ملی"> کد ملی : (فقط بار اول قابلیت ویرایش دارد )</label>
                                        <input type="text" name="id_code" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="موبایل"> موبایل : (فقط بار اول قابلیت ویرایش دارد )</label>
                                        <input type="text" name="mobile" class="form-control" required>
                                    </div> 
                                    <div class="form-group">
                                        <label for="شماره کارت"> شماره کارت :</label>
                                        <input type="text" name="card_number" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="تاریخ تولد"> تاریخ تولد :</label>
                                        <input type="date" name="birthday" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="تلفن ثابت"> تلفن ثابت  :</label>
                                        <input type="text" name="phone" class="form-control">
                                    </div>
                                    <input type="hidden" id="isEdited" name="is_edited" value="true">
                                    <div class="form-group">
                                        <input type="submit" value=" ویرایش مشخصات کاربری" class="btn btn-success">
                                    </div>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock 'content' %}