{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load jalali_filters %}
{% block 'title' %}faviorits{% endblock 'title' %}
{% block 'content' %}
<section class="inner-page" id="profile-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>ناحیه کاربری</h1>
                            <p>به ناحیه کاربری روبیک مارکت خوش آمدید.</p>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="../index.html">صفحه نخست</a></li>
                                    <li class="breadcrumb-item"><a href="#">ناحیه کاربری</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">محصولات مورد علاقه</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-3">
                            <!-- Side Panel -->
                            <div class="accordion" id="side-panel">
                                <div class="accordion-item menu-container">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                            <span class="row">
                                                <span class="col-3 col-sm-2 col-lg-3">
                                                    <img src={% static 'assets/images/user-no-image.jpg' %} class="rounded-circle">
                                                </span>
                                                <span class="col-7 col-sm-8 col-lg-7 pt-0 pt-sm-2 pt-md-3 pt-lg-0 align-self-center">
                                                    <div id="full-name"> {{profile.first_name}} {{profile.last_name}}</div>
                                                    <div class="mt-2" id="email-mobile">{{ profile.mobile }}</div>
                                                </span>
                                            </span>
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>
                                                    <a href={% url 'accounts:view-profile'%} class="active">
                                                        <div>
                                                            <div class="icon d-inline-block"><img src={% static 'assets/images/icons/profile-menu/profile.webp' %} class="pl-2"></div> اطلاعات حساب
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="factors.html">
                                                        <div>
                                                            <div class="icon d-inline-block"><img src={% static 'assets/images/icons/profile-menu/orders.webp' %} class="pl-2"></div> سفارش های من
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href={% url 'accounts:user-favorties' %}>
                                                        <div>
                                                            <div class="icon d-inline-block"><img src={% static 'assets/images/icons/profile-menu/favorites.webp' %} class="pl-2"></div> علاقه مندی ها
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href={% url 'accounts:addresses' %}>
                                                        <div>
                                                            <div class="icon d-inline-block"><img src={% static 'assets/images/icons/profile-menu/addresses.webp' %} class="pl-2"></div> آدرس های من
                                                        </div>
                                                    </a>
                                                </li>
                                                <li><hr></li>
                                                <li>
                                                    <a href={% url 'accounts:logout'%}>
                                                        <div>
                                                            <div class="icon d-inline-block"><img src={% static 'assets/images/icons/profile-menu/exit.webp' %} class="pl-2"></div> خروج از حساب
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Side Panel -->
                        </div>
                        <div class="col-12 col-lg-9 pl-lg-0 pr-lg-2 mt-2 mt-lg-0">
                            <!-- Favorite Products -->
                            <div class="custom-container" id="favorites">
                                <div class="row pt-2 px-3">
                                    <div class="col-12"><h1>محصولات مورد علاقه</h1></div>
                                </div>
                                <div class="container">
                                    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gx-md-4">
                                        <!-- Products -->
                                         {% for item in favorites %}
                                        <div class="col">
                                            <!-- Product Box -->
                                            <div class="product-box">
                                                <a href="{% url 'product:product-detail' pk=item.product.id %}"><div class="image" style="background-image: url('{{item.product.image.url}}')"></div></a>
                                                <div class="details p-3">
                                                    <div class="category">
                                                        <a href="#">{{item.product.category.parent}}/{{item.product.category.name}} </a>
                                                        &nbsp;/&nbsp;
                                                    </div>
                                                    <a href="{% url 'product:product-detail' pk=item.product.id %}"><h2>{{item.product.name}}</h2></a>
                                                    <div class="price">{{item.product.get_discounted_price|intcomma}} تومان</div>
                                                    <a href={% url 'accounts:user-remove-favorites' pk=item.product.id %}
                                                        style="display: inline-block; margin-top: 10px;
                                                         padding: 8px 12px; background-color: #09a6a6;
                                                          color: white; text-decoration: none; border-radius: 5px;">
                                                        حذف از علاقه‌مندی‌ها
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- /Product Box -->
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- /Favorite Products -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}