{% extends "_base.html" %}
{% load static %}
{% load jalali_filters %}
{% load humanize %}
{% block 'title' %}product-detail{% endblock 'title' %}
{% block 'content' %}
<section class="inner-page" id="product-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>{{product.name}}</h1>
                            <p>{{product.content}}</p>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="./index.html">صفحه نخست</a></li>
                                    <li class="breadcrumb-item"><a href="./products.html">فروشگاه</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">{{product.category.name}} </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-5 px-lg-0">
                            <div class="swiper-container gallery-top">
                                <!-- Additional required wrapper -->
                                <ul class="swiper-wrapper">
                                    <!-- Slides -->
                                    <li id="1" class="swiper-slide">
                                        <a href="{{product.image.url}}" itemprop="contentUrl" data-size="900x710">
                                            <img src="{{product.image.url}}" itemprop="thumbnail" alt="{{product.name}}" />
                                        </a>
                                    </li>
                                    <li id="1" class="swiper-slide">
                                        <a href="{{product.image2.url}}" itemprop="contentUrl" data-size="900x710">
                                            <img src="{{product.image2.url}}" itemprop="thumbnail" alt="{{product.name}}" />
                                        </a>
                                    </li>
                                    <li id="1" class="swiper-slide">
                                        <a href="{{product.image3.url}}" itemprop="contentUrl" data-size="900x710">
                                            <img src="{{product.image3.url}}" itemprop="thumbnail" alt="{{product.name}}" />
                                        </a>
                                    </li>
                                    <li id="1" class="swiper-slide">
                                        <a href="{{product.image4.url}}" itemprop="contentUrl" data-size="900x710">
                                            <img src="{{product.image4.url}}" itemprop="thumbnail" alt="{{product.name}}" />
                                        </a>
                                    </li>
                                    <!-- /Slides -->
                                </ul>
                                <!-- If we need navigation buttons -->
                                <div title="قبلی" class="swiper-button-prev swiper-button-white"></div>
                                <div title="بعدی" class="swiper-button-next swiper-button-white"></div>
                            </div>

                            <!-- Swiper -->
                            <div class="swiper-container gallery-thumbs">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" style="background-image:url('{{product.image.url}}')"></div>
                                    <div class="swiper-slide" style="background-image:url('{{product.image2.url}}')"></div>
                                    <div class="swiper-slide" style="background-image:url('{{product.image3.url}}')"></div>
                                    <div class="swiper-slide" style="background-image:url('{{product.image4.url}}')"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-7 mt-5 mt-lg-0 pl-lg-0" id="product-intro">
                            <a href="./product.html">
                                <h1>{{product.name}}</h1>
                            </a>
                            <div class="stars-container">
                                {% for star in product.get_average_score|times %}
                                    <i class="fa fa-star"></i>
                                {% endfor %}
                                <p><span>({{product.total_vots}} رای دهنده )</span></p>
                                <p><a href="#tabs-panel"><span>(نقد و بررسی)</span></a></p>
                            </div>
                            <div class="price-container py-2">
                                {% if product.has_discount %}
                                    <div>
                                        <span class="discounted">{{product.price}} تومان</span><br>
                                        <br class="d-sm-none">
                                        <span class="price">{{product.get_discounted_price|intcomma}}  با احتساب {{product.discount_price}}% تخفیف</span>
                                    </div>
                                    {% else %}
                                    <div class="price">{{product.price}} تومان</div>
                                    {% endif %}
                                <div class="badge badge-danger font-weight-light m-1 py-1 px-2">{{product.get_discounted_price}}</div>
                            </div>
                            <p>{{product.description}}</p>
                            <hr>
                            <div class="variables">
                                <div class="title">گزینه های موجود:</div>
                                <div class="row">
                                    <div class="col-12 col-sm-4 col-lg-3">
                                        <div class="variable">
                                            <div class="sub-title pt-2 pb-3">رنگ بندی</div>
                                            <style>
                                                .color-options {
                                                    display: flex;
                                                    flex-wrap: wrap;  /* اگر جا نشد، به خط بعدی برود */
                                                    gap: 8px;  /* فاصله بین رنگ‌ها */
                                                    align-items: center;  /* هم‌تراز شدن رنگ‌ها */
                                                }
                                                
                                                .color-choice {
                                                    width: 30px;
                                                    height: 30px;
                                                    display: inline-block;
                                                    border-radius: 50%;
                                                    cursor: pointer;
                                                    border: 2px solid #ddd; /* حاشیه پیش‌فرض */
                                                    transition: all 0.3s ease-in-out;
                                                    box-sizing: border-box;
                                                }
                                                
                                                .color-choice.selected {
                                                    border: 3px solid black; /* وقتی رنگ انتخاب شد */
                                                }
                                            </style>
                                            <form action="{% url 'cart:add-to-cart' %}" method="GET">
                                                <input type="hidden" name="pid" value="{{ product.id }}">
                                                <input type="hidden" name="color" id="selectedColor">
                                            {% if product.has_colored %}
                                                {% for color in product.color.all %}
                                                <span class="color-variable">
                                                    <a href="#" class="color-choice" data-color="{{ color.name }}" style="background-color: {{ color.hex_code }};" title="{{ color.name }}"></a>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4 col-lg-3">
                                        <div class="variable">
                                            <div class="sub-title pt-2 pb-2">گارانتی</div>

                                                
                                            <select name="g_mount" class="form-select">
                                                    <option value="0">بدون گارانتی</option>
                                                    {% for g in product.guarantees.all %}
                                                    <option value="{{g.mounts}}">گارانتی {{g.mounts}} ماهه</option>
                                                    {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cta-container pt-3 pt-md-5">
                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-success px-4 px-lg-2 px-xl-4">
                                            <i class="fa fa-shopping-cart"></i> 
                                            افزودن به سبد خرید
                                        </button>
                                    </form>
                                        <br class="d-sm-none">
                                        <a href="#" class="add-to-favorites" data-id="{{ product.id }}"><div class="btn btn-outline-secondary btn-favorite mt-1 mt-sm-0" data-toggle="tooltip" data-placement="top" title="افزودن به علاقه‌مندی"></div></a>
                                        <a href="#" class="add-to-compares" data-id="{{ product.id }}"><div class="btn btn-outline-secondary btn-compare mt-1 mt-sm-0" data-toggle="tooltip" data-placement="top" title="مقایسه"></div></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Nav Tabs -->
                            <div class="col-12">
                                <div id="product-nav-tabs">
                                    <div class="row pt-3 px-md-3">
                                        <div class="col-12">
                                            <div id="tabs-panel">
                                                <button class="tab-item tablink px-3 selected" onclick="openTab(event,'html-tab')">نقد و بررسی</button>
                                                <button class="tab-item tablink px-3" onclick="openTab(event,'details-tab')">جدول مشخصات</button>
                                                <button class="tab-item tablink px-3" onclick="openTab(event,'comments-tab')">دیدگاه کاربران ({{product.comment_count}})</button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 pt-2 px-2 px-lg-0">
                                                <!-- HTML Tab -->
                                                <div id="html-tab" class="tabs-container text-justify p-0 p-md-3">
                                                    <p>{{product.review}}</p>
                                                </div>
                                                <!-- /HTML Tab -->

                                                <!-- Details Tab -->
                                                <div id="details-tab" class="tabs-container px-0 px-md-3 pb-0 pb-md-3" style="display:none">
                                                    <!-- Detail Section -->
                                                    {% for spesific in product.get_specifications %}
                                                    <div class="row mb-2">
                                                        <div class="col-12 col-md-3 font-weight-bold"><div class="bg-light p-2">{{spesific.attribute.name}}</div></div>
                                                        <div class="col-12 col-md-9 pr-md-0"><div class="bg-light p-2">{{spesific.value}}</div></div>
                                                    </div>
                                                    {% endfor %}
                                                    <!-- /Detail Section -->
                                                </div>
                                                <!-- /Details Tab -->

                                                <!-- Comments Tab -->
                                                <div id="comments-tab" class="tabs-container px-0 px-md-3 pb-0 pb-md-2" style="display:none">
                                                    <div class="row">
                                                        <div class="col-12 text-justify" id="comments">
                                                            <div class="comments-container">
                                                                <div class="container px-0">
                                                                    <div class="row">
                                                                        <div class="col-12 pt-2">
                                                                            <!-- Show Comments -->
                                                                            {% for comment in product.get_comments %}
                                                                <div class="comment p-3 my-2">
                                                                    <div class="sender-details">
                                                                        <div class="row">
                                                                            <div class="col-3 col-sm-2 col-md-1 pl-md-0 pl-lg-2 pl-xl-3">
                                                                                <img src="{% static 'assets/images/user-no-image.jpg' %}" alt="" class="rounded">
                                                                            </div>
                                                                            <div class="col-9 col-sm-10 col-md-11 pr-0 pr-md-2 pr-xl-0 pt-0 pt-lg-1">
                                                                                <div class="name"> {{comment.name.first_name}} {{comment.name.last_name}}</div>
                                                                                <div class="date">ارسال شده در {{comment.created_at|to_jalali}}</div>
                                                                            </div>
                                                                            <div class="col-12">
                                                                                <p>{{comment.text}}</p>
                                                                                <span class="reply"><img src="{% static 'assets/images/comment-reply.png' %}" alt=""> ارسال پاسخ</span>
                                                                                    <form method="post" action="{% url 'product:add-replay' pk=comment.id %}">
                                                                                        {% csrf_token %}
                                                                                        <textarea name="text" class="form-control" rows="3" placeholder="پاسخ خود را بنویسید..."></textarea>
                                                                                        <button type="submit" class="btn btn-sm btn-primary mt-2">ارسال پاسخ</button>
                                                                                    </form>
                                                                            </div>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                    <!-- Comment Reply -->
                                                                        {% for replay in comment.get_replays %}
                                                                            <div class="row justify-content-end">
                                                                                <div class="col-11 pt-2 pr-0">
                                                                                    <div class="comment p-3">
                                                                                        <div class="sender-details">
                                                                                            <div class="row">
                                                                                                <div class="col-3 col-sm-2 col-md-1 pl-md-0 pl-lg-2 pl-xl-3">
                                                                                                    <img src="{% static 'assets/images/user-no-image.jpg' %}" alt="" class="rounded">
                                                                                                </div>
                                                                                                <div class="col-9 col-sm-10 col-md-11 pr-0 pr-md-2 pr-xl-0 pt-0 pt-lg-1">
                                                                                                    <div class="name">{{replay.name.first_name}} {{replay.name.last_name}}</div>
                                                                                                    <div class="date">ارسال شده در {{replay.created_at|to_jalali}}  </div>
                                                                                                </div>
                                                                                                <div class="col-12">
                                                                                                    <p> {{replay.text}}</p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            {% endfor %}
                                                                            <!-- /Comment Reply -->
                                                                            </div>
                                                                        {% endfor %}
                                                                            <!-- /Show Comments -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Send Comment Form -->
                                                            <div class="comments-container">
                                                                <div class="row pt-4">
                                                                    <div class="col-12"><h2>دیدگاه خود را ارسال کنید</h2></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-12 py-3">
                                                                        <form method="post" action="{% url 'product:product-comment' pk=product.id %}">
                                                                            {% csrf_token %}
                                                                            <div id="send-comment-form">
                                                                                <p>نظر خود را برای این مطلب ارسال کنید. نشانی ایمیل شما منتشر نخواهد شد.</p>
                                                                                <div class="row">
                                                                                          <div class="col-12 px-3">
                                                                                        <div class="form-group my-1">
                                                                                            <textarea class="form-control" name="text" id="" rows="4" placeholder="متن دیدگاه"></textarea>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12">
                                                                                        <div class="form-group my-1">
                                                                                            <input type="submit" value="ارسال دیدگاه" class="btn btn-success px-5">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /Send Comment Form -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /Comments Tab -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Nav Tabs -->

                        <!-- Suggested Products -->
                        <div class="col-12 pt-5" id="suggested-products">
                            <div class="title py-3 text-center">محصولات مرتبط</div>
                            <div class="owl-carousel products-carousel">
                                <!-- Product Item -->
                                 {% for product in  same_products %}
                                <div class="product-box item">
                                    <a href={% url 'product:product-detail' pk=product.id %}><div class="image" style="background-image: url({{product.image.url}})"></div></a>
                                    <div class="details p-3">
                                        <div class="category">
                                            <a href="./products.html">{{product.category.name}} </a>
                                            &nbsp;/&nbsp;
                                        </div>
                                        <a href={% url 'product:product-detail' pk=product.id %}><h2>{{product.name}}</h2></a>
                                        {% if product.has_discount %}
                                                <div>
                                                    <span class="discounted">{{product.price}} تومان</span>
                                                    <br class="d-sm-none">
                                                    <span class="price">{{product.get_discounted_price|intcomma}} تومان</span>
                                                </div>
                                            {% else %}
                                                <div class="price">{{product.price}} تومان</div>
                                            {% endif %}
                                        <div class="rate">
                                            {% for star in product.get_average_score|times %}
                                                <i class="fa fa-star"></i>
                                            {% endfor %}
                                            <span class="reviews">(رای دهنده {{product.total_vots}})</span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}        
                                <!-- /Product Item -->
                            </div>
                        </div>
                        <!-- /Suggested Products -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock 'content' %}
