{% extends "base.html" %}
{% load static %}
{% load jalali_filters %}
{% load humanize %}
{% block 'title' %}products-list{% endblock 'title' %}
{% block 'content' %}
<section class="inner-page" id="products-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>فروشگاه روبیک مارکت</h1>
                            <p>هر آنچه نیاز دارید در این فروشگاه موجود است</p>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="./index.html">صفحه نخست</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">محصولات</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-3 px-3 px-lg-0">
                            <!-- Side Panel -->
                            <div class="accordion filters-container">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            گروه های محصولات
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <form action="{% url 'product:products-list-by-category' %}">
                                            {% for parent in parents %}
                                            <div class="form-group">
                                                <input type="checkbox" id="category{{parent.id}}" name="category" value="{{ parent.id }}">
                                                <label for="category1">{{parent.name}} </label>
                                            </div>
                                            {% endfor %}
                                            <div class="form-group">
                                                <input type="submit" value="اعمال فیلتر" class="col-12 text-center py-2">
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion filters-container mt-3">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                            محدوده قیمت
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 py-1 px-4 mt-3">
                                                    <div id="steps-slider" dir="rtl"></div>
                                                </div>
                                                <form id="price-filter-form" action="{% url 'product:products-list-by-price-range' %}" method="GET">
                                                    <div class="col-12 py-1 px-4 mt-3">
                                                        <div id="steps-slider" dir="rtl"></div>
                                                    </div>
                                                
                                                    <!-- سطر برای دو مقدار قیمت -->
                                                    <div class="col-12 d-flex justify-content-between align-items-center mt-3">
                                                        <!-- حداقل قیمت -->
                                                        <div class="price-range d-flex align-items-center">
                                                            <div>از</div>
                                                            <div id="price-range-from" class="mx-2">10000</div>
                                                            <input type="hidden" name="min_price" id="min-price" value="10000">  
                                                            <div>تومان</div>
                                                        </div>
                                                
                                                        <!-- حداکثر قیمت -->
                                                        <div class="price-range d-flex align-items-center">
                                                            <div>تا</div>
                                                            <div id="price-range-to" class="mx-2">500000</div>
                                                            <input type="hidden" name="max_price" id="max-price" value="500000">  
                                                            <div>تومان</div>
                                                        </div>
                                                    </div>
                                                    <!-- دکمه ارسال -->
                                                    <div class="col-12 text-center py-2">
                                                        <button type="submit" class="btn btn-warning">اعمال محدوده قیمت</button>
                                                    </div>
                                                </form>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion filters-container mt-3">
                                <div class="accordion-item">
                                    <div id="collapseFour" class="accordion-collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body pb-2">
                                            <div class="form-group">
                                                <form action="{% url 'product:products-list-by-guarantee' %}">
                                                    <input type="checkbox" id="only-warranty" name="guarantee" value="true">
                                                <label for="only-warranty">فقط کالاهای دارای گارانتی</label>
                                                <div class="form-group">
                                                    <input type="submit" value="اعمال فیلتر" class="col-12 text-center py-2">
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion filters-container mt-3">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFive">
                                        <button class="accordion-button py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                            جدیدترین محصولات
                                        </button>
                                    </h2>
                                    <div id="collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="row">
                                                {% for product in last_products %}
                                                <div class="col-12 col-md-4 col-lg-12 px-0 mt-2">
                                                    <a href={% url 'product:product-detail' pk=product.id %}>
                                                        <div class="side-product">
                                                            <div class="row pl-3">
                                                                <div class="col-3 pl-2">
                                                                    <div class="image" style="background-image: url({{product.image.url}})"></div>
                                                                </div>
                                                                <div class="col-9 pr-0">
                                                                    <h2>{{product.name}}</h2>
                                                                    <div class="row">
                                                                        <div class="col-7 pl-0">
                                                                            <span class="price">{{product.price|intcomma}} تومان</span>
                                                                        </div>
                                                                        <div class="col-5 pr-0 text-end">
                                                                            <span class="views">{{product.total_views}} بازدید</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Side Panel -->
                        </div>
                        <div class="col-12 col-lg-9 px-0 pl-lg-0 pr-lg-2 mt-2 mt-lg-0">
                            <!-- Filters -->
                            <div id="order-filters">
                                <div class="container">
                                    <div class="row">

                                        <div class="col-12 col-sm-2 pt-1 text-end">
                                            <span>
                                                <a href="products-list.html" class="products-view-type active"><i class="fa fa-th-list"></i></a>
                                                <a href="products.html" class="products-view-type"><i class="fa fa-th"></i></a>
                                            </span>
                                            &nbsp;|&nbsp;
                                            <span>{{product_count}} کالا</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Filters -->
                            <div class="mt-2" id="pager">
                                <div class="container">
                                    <div class="row row-cols-1 gx-md-4">
                                        <!-- Products -->
                                         {% for product in products %}
                                        <div class="col">
                                            <!-- Product Box -->
                                            <div class="product-box-row">
                                                <div class="row">
                                                    <div class="col-12 col-md-4">
                                                        <a href={% url 'product:product-detail' pk=product.id %}><div class="image" style="background-image: url({{product.image.url}})"></div></a>
                                                    </div>
                                                    <div class="col-12 col-md-8">
                                                        <div class="details py-3 px-3">
                                                            <div class="category">
                                                                <a href="#">{{product.category.parent}}/{{product.category.name}} </a>
                                                                &nbsp;/&nbsp;
                                                            </div>
                                                            <a href={% url 'product:product-detail' pk=product.id %}><h2>{{product.name}}</h2></a>
                                                            <div class="rate">
                                                                {% for star in product.get_average_score|times %}
                                                                <i class="fa fa-star"></i>
                                                                {% endfor %}
                                                                <span class="reviews">(رای دهنده {{product.total_vots}})</span>
                                                            </div>
                                                            <p>{{product.content}}</p>
                                                            {% if product.has_discount %}
                                                            <div>
                                                                <span class="discounted">{{product.price}} تومان</span>
                                                                <br class="d-sm-none">
                                                                <span class="price">{{product.get_discounted_price|intcomma}} تومان</span>
                                                            </div>
                                                            {% else %}
                                                            <div class="price">{{product.price}} تومان</div>
                                                            {% endif %}
                                                            <a href={% url 'product:product-detail' pk=product.id %}><div class="btn btn-sm btn-success">مشاهده و خرید</div></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /Product Box -->
                                        </div>
                                        {% endfor %}
                                        <!-- /Products -->
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div id="pagination-bg">
                                            <ul class="pagination justify-content-center pagination-sm"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock 'content' %}  