{% extends "base.html" %}
{% load static %}
{% load jalali_filters %}
{% block 'title' %}blog{% endblock 'title' %}
{% block 'content' %}
<section class="inner-page" id="blog-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>بلاگ</h1>
                            <p>بلاگ آموزشی روبیک مارکت</p>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="./index.html">صفحه نخست</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">بلاگ آموزشی</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-9">
                            <div class="row">
                                <div class="col-12">
                                    <div class="blog-container">
                                        <div class="row py-2 px-3">
                                            <div class="col"><h1 class="title">مرکز آموزش روبیک مارکت</h1></div>
                                        </div>
                                        <div class="container px-2 pb-3">
                                            <div class="row row-cols-1 row-cols-md-2">
                                                <!-- Blog Post -->
                                                 {% for blog in blogs %}
                                                <div class="col">
                                                    <div class="blog-post-box" data-aos="fade-up" data-aos-duration="1000">
                                                        <a href={% url 'blog:blog-details' pk=blog.id %}><div class="post-image" style="background-image: url('{{blog.image.url}}')"></div></a>
                                                        <div class="details py-3 px-4">
                                                            <div class="post-date">ارسال شده در {{blog.created_at|to_jalali}}  </div>
                                                            <a href={% url 'blog:blog-details' pk=blog.id %}>
                                                                <h2 class="post-title">{{blog.title}}</h2>
                                                            </a>
                                                            <a href={% url 'blog:blog-details' pk=blog.id %}>
                                                                <div class="post-description">{{blog.content}}</div>
                                                            </a>
                                                            <div class="read-more"><a href={% url 'blog:blog-details' pk=blog.id %} class="hvr-icon-back">بیشتر خوانید <i class="fa fa-arrow-left hvr-icon"></i></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                <!-- Blog Post -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="row">
                                <!-- Side Panel -->
                                <div class="col-12 col-sm-6 col-lg-12 px-lg-2">
                                    <div class="blog-side-panel">
                                        <div class="row pt-2 px-3">
                                            <div class="col"><div class="title">پربازدیدترین محصولات</div></div>
                                        </div>
                                        <hr>
                                        <div class="container">
                                            <div class="row">
                                                {% for product in most_views_product %}
                                                <div class="col-12 col-lg-12 px-0 mt-2">
                                                    <a href="./product.html">
                                                        <div class="side-blog-product">
                                                            <div class="row pl-3">
                                                                <div class="col-4 pl-2">
                                                                    <div class="image" style="background-image: url({{product.image.url}})"></div>
                                                                </div>
                                                                <div class="col-8 px-0">
                                                                    <h2>{{product.name}}</h2>
                                                                    <div class="row">
                                                                        <div class="col-8 pl-0">
                                                                            <span class="price">{{product.get_discounted_price}}تومان</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-12 px-lg-2">
                                    <div class="blog-side-panel">
                                        <div class="row pt-4 pt-sm-2 px-3">
                                            <div class="col"><div class="title">پربازدیدترین مطالب</div></div>
                                        </div>
                                        <hr>
                                        <div class="container">
                                            <div class="row">
                                                {% for item in most_views %}
                                                <div class="col-12 col-lg-12 px-0 mt-2">
                                                    <div class="side-blog-post">
                                                        <div class="row pl-3">
                                                            <div class="col-4 pl-2">
                                                                <a href={% url 'blog:blog-details' pk=item.id %}><div class="image" style="background-image: url({{item.image.url}})"></div></a>
                                                            </div>
                                                            <div class="col-8 px-0">
                                                                <a href={% url 'blog:blog-details' pk=item.id %}><h2>{{item.title}}</h2></a>
                                                                <div class="row">
                                                                    <div class="col-12 col-xl-6 pl-0">
                                                                        <span class="category">دسته بندی: <a href={% url 'blog:blog-category' tag=item.tags.name %}>{{item.tags.name}}</a></span>
                                                                    </div>
                                                                    <div class="col-12 col-xl-6 pr-0 text-start text-xl-end d-none d-xl-block">
                                                                        <span class="date">{{item.created_at|to_jalali}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Side Panel -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock 'content' %}