{% extends "base.html" %}
{% load static %}
{% load jalali_filters %}
{% block 'title' %}blog-details{% endblock 'title' %}
{% block 'content' %}
<section class="inner-page blog-inner-page" id="blog-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>{{blog.title}}</h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href={% url 'root:home' %}>صفحه نخست</a></li>
                                    <li class="breadcrumb-item"><a href={% url 'blog:blog' %}>بلاگ</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">{{blog.tags.name}}</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-9">
                            <div class="row">
                                <div class="col-12">
                                    <div class="blog-container">
                                        <div class="row pt-2 px-3" id="post-title">
                                            <div class="col-12 col-md-8">
                                                <h1>{{blog.title}}</h1>
                                            </div>
                                            <div class="col-12 col-md-4 text-start text-md-end"><span class="date">ارسال شده در {{blog.created_at|to_jalali}}</span></div>
                                        </div>
                                        <hr>
                                        <div class="row py-0 px-3" id="post-details">
                                            <div class="col-8">
                                                <span>دسته بندی: <a href={% url 'blog:blog-category' tag=blog.tags.name %}> {{blog.tags.name}}</a></span>
                                            </div>
                                            <div class="col-4 text-end"><span>{{blog.total_views}} بازدید | {{blog.comment_count}} نظر</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 pt-2 text-justify" id="post-html">
                                                <div class="text-center pt-2 pb-3"><img src={{blog.image.url}} alt={{blog.title}}></div>
                                                <p>{{blog.description}}</p>
                                            </div>
                                            <div class="col-12">
                                                <hr>
                                                <div id="keywords">
                                                    <span>برچسب ها:</span>
                                                    {% for tag in tags %}
                                                    <a href={% url 'blog:blog-category' tag=tag.name %}><span class="keyword">{{tag.name}}</span></a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pt-3 pb-4 pb-lg-0">
                                            <div class="col-12" id="share-links">
                                                <span>به اشتراک بگذارید در:</span><br class="d-md-none">
                                                <a href="#" target="_blank"><span class="share-link"><img src="{% static 'assets/images/social/twitter.png' %}" alt="توئیتر" height="25px"> توئیتر</span></a>
                                                <a href="#" target="_blank"><span class="share-link"><img src="{% static 'assets/images/social/facebook.png' %}" alt="فیس بوک" height="25px"> فیس بوک</span></a>
                                                <a href="#" target="_blank"><span class="share-link"><img src="{% static 'assets/images/social/linkedin.png' %}" alt="لینکدین" height="25px"> لینکدین</span></a>
                                            </div>
                                        </div>
                                        <hr>
                                        <!-- Comments -->
                                        <div class="row pt-3 pb-4 pb-lg-0">
                                            <div class="col-12 text-justify" id="comments">
                                                <h2>نظرات کاربران</h2>
                                                <div class="comments-container">
                                                    <div class="container px-0">
                                                        <div class="row">
                                                            <div class="col-12 pt-2">
                                                                <!-- Show Comments -->
                                                                 {% for comment in blog.get_comments %}
                                                                <div class="comment p-3 my-2">
                                                                    <div class="sender-details">
                                                                        <div class="row">
                                                                            <div class="col-3 col-sm-2 col-md-1 pl-md-0 pl-lg-2 pl-xl-3">
                                                                                <img src="{% static 'assets/images/user-no-image.jpg' %}" alt="" class="rounded">
                                                                            </div>
                                                                            <div class="col-9 col-sm-10 col-md-11 pr-0 pr-md-2 pr-xl-0 pt-0 pt-lg-1">
                                                                                <div class="name"> {{comment.name.first_name}} {{comment.name.last_name}}</div>
                                                                                <div class="date">ارسال شده در {{comment.created_at|to_jalali}}</div>
                                                                            </div>
                                                                            <div class="col-12">
                                                                                <p>{{comment.text}}</p>
                                                                                <span class="reply"><img src="{% static 'assets/images/comment-reply.png' %}" alt=""> ارسال پاسخ</span>
                                                                                    <form method="post" action="{% url 'blog:add_reply' pk=comment.id %}">
                                                                                        {% csrf_token %}
                                                                                        <textarea name="text" class="form-control" rows="3" placeholder="پاسخ خود را بنویسید..."></textarea>
                                                                                        <button type="submit" class="btn btn-sm btn-primary mt-2">ارسال پاسخ</button>
                                                                                    </form>
                                                                            </div>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                    <!-- Comment Reply -->
                                                                     {% for replay in comment.get_replays %}
                                                                    <div class="row justify-content-end">
                                                                        <div class="col-11 pt-2 pr-0">
                                                                            <div class="comment p-3">
                                                                                <div class="sender-details">
                                                                                    <div class="row">
                                                                                        <div class="col-3 col-sm-2 col-md-1 pl-md-0 pl-lg-2 pl-xl-3">
                                                                                            <img src="{% static 'assets/images/user-no-image.jpg' %}" alt="" class="rounded">
                                                                                        </div>
                                                                                        <div class="col-9 col-sm-10 col-md-11 pr-0 pr-md-2 pr-xl-0 pt-0 pt-lg-1">
                                                                                            <div class="name">{{replay.name.first_name}} {{replay.name.last_name}}</div>
                                                                                            <div class="date">ارسال شده در {{replay.created_at|to_jalali}}  </div>
                                                                                        </div>
                                                                                        <div class="col-12">
                                                                                            <p> {{replay.text}}</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {% endfor %}
                                                                    <!-- /Comment Reply -->
                                                                </div>
                                                                {% endfor %}
                                                                <!-- /Show Comments -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Send Comment Form -->
                                                <div class="comments-container">
                                                    <div class="row pt-4">
                                                        <div class="col-12"><h2>دیدگاه خود را ارسال کنید</h2></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 py-3">
                                                            <form method="post" action="{% url 'blog:add_comment' pk=blog.id %}">
                                                                {% csrf_token %}
                                                                <div id="send-comment-form">
                                                                    <p>نظر خود را برای این مطلب ارسال کنید. نشانی ایمیل شما منتشر نخواهد شد.</p>
                                                                    <div class="row">
                                                                              <div class="col-12 px-3">
                                                                            <div class="form-group my-1">
                                                                                <textarea class="form-control" name="text" id="" rows="4" placeholder="متن دیدگاه"></textarea>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <div class="form-group my-1">
                                                                                <input type="submit" value="ارسال دیدگاه" class="btn btn-success px-5">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /Send Comment Form -->
                                            </div>
                                        </div>
                                        <!-- /Comments -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="row">
                                <!-- Side Panel -->
                                <div class="col-12 col-sm-6 col-lg-12 px-lg-2">
                                    <div class="blog-side-panel">
                                        <div class="row pt-2 px-3">
                                            <div class="col"><div class="title">پربازدیدترین محصولات</div></div>
                                        </div>
                                        <hr>
                                        <div class="container">
                                            <div class="row">
                                                <!-- Side Panel Product -->
                                                <div class="col-12 col-lg-12 px-0 mt-2">
                                                    <a href="./product.html">
                                                        <div class="side-blog-product">
                                                            <div class="row pl-3">
                                                                <div class="col-4 pl-2">
                                                                    <div class="image" style="background-image: url({% static 'assets/images/products/p100.png' %})"></div>
                                                                </div>
                                                                <div class="col-8 px-0">
                                                                    <h2>گوشی موبایل سامسونگ مدل Galaxy A51 دو سیم کارت</h2>
                                                                    <div class="row">
                                                                        <div class="col-8 pl-0">
                                                                            <span class="price">3.200.000 تومان</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <!-- /Side Panel Product -->
                                                <!-- Side Panel Product -->
                                                <div class="col-12 col-lg-12 px-0 mt-2">
                                                    <a href="./product.html">
                                                        <div class="side-blog-product">
                                                            <div class="row pl-3">
                                                                <div class="col-4 pl-2">
                                                                    <div class="image" style="background-image: url({% static 'assets/images/products/p200.png' %})"></div>
                                                                </div>
                                                                <div class="col-8 px-0">
                                                                    <h2>لپ تاپ 15 اینچی ایسوس مدل VivoBook X543MA-DM905</h2>
                                                                    <div class="row">
                                                                        <div class="col-8 pl-0">
                                                                            <span class="price">3.200.000 تومان</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <!-- /Side Panel Product -->
                                                <!-- Side Panel Product -->
                                                <div class="col-12 col-lg-12 px-0 mt-2">
                                                    <a href="./product.html">
                                                        <div class="side-blog-product">
                                                            <div class="row pl-3">
                                                                <div class="col-4 pl-2">
                                                                    <div class="image" style="background-image: url({% static 'assets/images/products/p300.png' %})"></div>
                                                                </div>
                                                                <div class="col-8 px-0">
                                                                    <h2>هدفون بی سیم سامسونگ مدل Galaxy Buds Live</h2>
                                                                    <div class="row">
                                                                        <div class="col-8 pl-0">
                                                                            <span class="price">3.200.000 تومان</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <!-- /Side Panel Product -->
                                                <!-- Side Panel Product -->
                                                <div class="col-12 col-lg-12 px-0 mt-2">
                                                    <a href="./product.html">
                                                        <div class="side-blog-product">
                                                            <div class="row pl-3">
                                                                <div class="col-4 pl-2">
                                                                    <div class="image" style="background-image: url({% static 'assets/images/products/p400.png' %})"></div>
                                                                </div>
                                                                <div class="col-8 px-0">
                                                                    <h2>دوربین دیجیتال کانن مدل EOS 2000D به همراه لنز 18-55 میلی متر</h2>
                                                                    <div class="row">
                                                                        <div class="col-8 pl-0">
                                                                            <span class="price">3.200.000 تومان</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <!-- /Side Panel Product -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-12 px-lg-2">
                                    <div class="blog-side-panel">
                                        <div class="row pt-4 pt-sm-2 px-3">
                                            <div class="col"><div class="title">پربازدیدترین مطالب</div></div>
                                        </div>
                                        <hr>
                                        <div class="container">
                                            <div class="row">
                                                {% for item in most_views %}
                                                <div class="col-12 col-lg-12 px-0 mt-2">
                                                    <div class="side-blog-post">
                                                        <div class="row pl-3">
                                                            <div class="col-4 pl-2">
                                                                <a href={% url 'blog:blog-details' pk=item.id %}><div class="image" style="background-image: url({{item.image.url}})"></div></a>
                                                            </div>
                                                            <div class="col-8 px-0">
                                                                <a href={% url 'blog:blog-details' pk=item.id %}><h2>{{item.title}}</h2></a>
                                                                <div class="row">
                                                                    <div class="col-12 col-xl-6 pl-0">
                                                                        <span class="category">دسته بندی: <a href={% url 'blog:blog-category' tag=item.tags.name %}>{{item.tags.name}}</a></span>
                                                                    </div>
                                                                    <div class="col-12 col-xl-6 pr-0 text-start text-xl-end d-none d-xl-block">
                                                                        <span class="date">{{item.created_at|to_jalali}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Side Panel -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock 'content' %}