{% extends "_base.html" %}
{% load static %}
{% load jalali_filters %}
{% load humanize %}
{% block 'title' %}payment-successfull{% endblock 'title' %}
{% block 'content' %}
<section class="inner-page" id="checkout-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>پرداخت موفق</h1>
                            <p>پرداخت شما با موفقیت انجام شد.</p>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href={% url 'root:home' %}>صفحه نخست</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">پرداخت موفق</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">
                        <div class="col-12">
                            <!-- Choose Address -->
                            <section id="choose-address">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 py-3">
                                            <div class="pb-1 fs-5 title text-success">پرداخت شما با موفقیت انجام شد.</div>
                                            <div class="pb-1 small text-black-50">سفارش شما در حال انجام می باشد. تغییر وضعیت سفارش از طریق پیامک خدمت شما اطلاع داده خواهد شد.</div>
                                            <div class="row">
                                                <div class="col-12 pl-0" id="address-detail">
                                                    <div class="p-3 ml-3 mb-2 mb-md-0 ml-md-0 mt-2 address-to-send bg-info bg-opacity-10">
                                                        <div class="title text-primary">جزئیات سفارش</div>
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col-12 col-md-4 my-1">شماره پیگیری: <strong>{{cart.ref_id}}</strong></div>
                                                            <div class="col-12 col-md-4 my-1">تاریخ ثبت: <strong>{{cart.created_at|to_jalali}}</strong></div>
                                                            <div class="col-12 col-md-4 my-1">وضعیت سفارش: <strong>در حال انجام</strong></div>
                                                        </div>
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col-12 col-md-3 my-1">مبلغ پرداختی: <strong>{{cart.total_payment}} تومان</strong></div>
                                                            <div class="col-12 col-md-9 my-1">پرداخت اینترنتی توسط درگاه</div>
                                                            <div class="col-12 col-md-3 my-1">جمع تخفیف: <strong>{{cart.total_discount}} تومان</strong></div>
                                                            <div class="col-12 col-md-3 my-1">هزینه ارسال: <strong>به عهده مشتری</strong></div>
                                                        </div>
                                                        <hr>
                                                        <span>ارسال به:</span>
                                                        <div class="address-title">
                                                            <span id="province-title">{{cart.profile.last_address.city}}</span>،
                                                            <span id="address">{{cart.profile.last_address.complete_address}}</span>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 col-md-4">کدپستی: <strong>{{cart.profile.last_address.postal_code}}</strong></div>
                                                            <div class="col-12 col-md-8">تحویل گیرنده: <strong>{{cart.profile.first_name}} {{cart.profile.last_name}}({{cart.profile.mobile}})</strong></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 pl-0 mt-3">
                                                    <div class="p-3 ml-3 mb-2 mb-md-0 ml-md-0">
                                                        <div class="title text-primary">محصولات خریداری شده</div>
                                                        <hr>
                                                        <div class="row">
                                                            {% for item in cart.get_items %}
                                                            <span class="col-6 col-sm-4 col-lg-3 px-0 mx-2">
                                                                <a href="./product.html" target="_blank">
                                                                    <div class="product-box">
                                                                        <div class="image" style="background-image: url({{item.product.image.url}})"></div>
                                                                        <div class="text-center px-1 px-sm-3">
                                                                            <a href="./product.html" target="_blank"><h2>{{item.product.name}}</h2></a>
                                                                            <div class="number">تعداد: {{item.quantity}} عدد</div>
                                                                            <div class="price text-dark">{{item.product.price}} تومان</div>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </span>
                                                            {% endfor %}

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- /Choose Address -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock 'content' %}